@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);
body {
  background-color: #f1f2f0;
  color: #35342f;
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif; }

p {
  margin-top: 0px; }

td {
  text-align: center;
  padding: 10px 50px 10px 50px;
  font-weight: 700; }

img {
  max-width: 100px; }

.main-app-container {
  padding-top: 2em; }

.main-app-nav {
  font-size: 2em;
  margin-bottom: 2em;
  margin-top: 3em;
  text-align: center; }

.counter-num-label {
  color: #ec6b2d;
  padding-top: 1em;
  font-size: 3em;
  text-align: center;
  width: 100%; }

.counter-even-label {
  padding-top: 1em;
  font-size: 0.75em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px; }

.counter-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3em; }
  .counter-buttons button {
    background-color: #CCC;
    border: none;
    height: 30px;
    width: 80px;
    margin-left: 1em;
    margin-right: 1em; }
    .counter-buttons button:hover {
      background-color: #e1e0dd; }

footer {
  font-size: 0.75em;
  text-align: center;
  padding-top: 10em; }
  footer a {
    text-decoration: none;
    color: inherit; }
    footer a:hover {
      color: #37bbe4; }
  footer #heart {
    color: #dd6464; }
